# question 1
# Write a code to reverse a string.

In [1]:
#through slicing 
str1 = "HEllo , i 'am Amitesh from indore "
rev_str = str1[::-1]
print(rev_str)

 erodni morf hsetimA ma' i , ollEH

In [2]:
# through for loop

str1 = "HEllo , i 'am Amitesh from indore "
rev_str1 = ""
for i in str1:
    rev_str1 = i + rev_str1
print(rev_str1)

 erodni morf hsetimA ma' i , ollEH

# Question 2
## Write a code to count the number of vowels in a string.

In [3]:
string = input("enter a string ")
str = string.lower()
print("you have enterd :", str)
count = 0
list = [ "a" , "e" , "i" , "o" , "u"]
for i in str:
        if i in list:
            count = count + 1
print("the no of vowel in string is :" , count)

enter a string  "amitesh"

you have enterd : "amitesh"
the no of vowel in string is : 3

# Question 3
## Write a code to check if a given string is a palindrome or not

In [4]:
string = input("enter your string")
rev_str = string[::-1]
if string == rev_str:
    print("Your Number is palindorme")
else:
    print("NO , it's not a palindorme .")
    
    #palindrome no - 121 == 121 , madam == madam

enter your string amitesh

NO , it's not a palindorme .

# Question 4
## Write a code to check if two given strings are anagrams of each other

In [2]:


string1 = input("enter first string")
string2  = input("enter second string:")
sorted_str = sorted(string1)
sorted_str2 = sorted(string2)
if sorted_str == sorted_str2:
    print("yes , both strings are anagrams of each other")
else:
    print("no , both are not anagrams")

enter first string heart
enter second string: earth

yes , both strings are anagrams of each other

# question 5
## Write a code to find all occurrences of a given substring within another string

In [66]:

main_string = input("Enter the main string: ")
substring = input("Enter the substring to find: ")


occurrences = []
n = len(main_string)
m = len(substring)


for i in range(n - m + 1):
    if main_string[i:i + m] == substring:
        occurrences.append(i)


print("Occurrences:", occurrences)

Enter the main string:  hello rajat , hello amit
Enter the substring to find:  hello

Occurrences: [0, 14]

# Question 6

## Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
string = input("Enter a string: ")
char = string[0]
result = ""
count = 0
string = string + " "  # Add a space to handle the last character group

for x in string:
    if x == char:
        count += 1
    else:
        result += char + str(count)  # Append the character and its count to the result
        char = x
        count = 1

print(result)

# QUESTION 7
## WRITE A CODE TO DETERMINE IF A STRING HAS ALL UNIQUE CHARCTERS

In [63]:

input_string = input("Enter a string: ")


seen = set()

# Check for unique characters
has_all_unique = True
for char in input_string:
    if char in seen:
        has_all_unique = False
        break
    seen.add(char)


print("All characters are unique:" if has_all_unique else "Characters are not unique.")

Enter a string:  amitesh

All characters are unique:

In [ ]:
#

# QUESTION 8
## WRITE A CODE TO CONVERT A GIVEN STRING TO UPPERCASE OR LOWERCASE

In [5]:
string = input("enter the string")
upper = string.upper()
lower = string.lower()
print("the uppercase will be " ,upper)
print("the lowercase will be " , lower)

enter the string hello sir good morning

the uppercase will be  HELLO SIR GOOD MORNING
the lowercase will be  hello sir good morning

# Question 9 
## Write a code to count the number of words in a string

In [6]:
st = input("enter a string:")
string = st.split()
print(len(string))

enter a string: acha ji batao kya krna

5

# Question  10
## write a code to concatenate two strings without using + operator

In [7]:
str1 = input("enter first string")
str2 = input("enter second string")

string = " ".join([str1,str2])
print(string)

enter first string PW
enter second string SKILLS

PW  SKILLS

# Question 11
## Write a code to remove all occurences of a specicfic element from a list

In [8]:
my_list = [1, 2, 3, 4, 3, 5, 3]
remove = 3

# Removing all occurrences of the element
while remove in my_list:
    my_list.remove(remove)
print(my_list)

[1, 2, 4, 5]

#another way

In [9]:
my_list = [1, 2, 3, 4, 3, 5, 3]
element_to_remove = 3

# Removing all occurrences of the element
my_list = [item for item in my_list if item != element_to_remove]

print(my_list)

[1, 2, 4, 5]

# Question 12

## 12.	Implement a code to find the second largest number in a given list of integers

In [10]:
str1 = [4,5,3,9,253,564]
str1.sort()
print(str1)
print("the second laregest no in list will be : " , str1[-2])

[3, 4, 5, 9, 253, 564]
the second laregest no in list will be :  253

# Question 13
## 13.	Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [11]:
list_hai = [ 1,1,1,2,3,2,2,3,4,4,5]
f = {}
for i in list_hai:
    if i in f:
        f[i] += 1
    else:
        f[i] = 1
print(f)

{1: 3, 2: 3, 3: 2, 4: 2, 5: 1}

# question 14
## 14.	Write a code to reverse a list in-place without using any built-in reverse functions

In [60]:

input_list = input("Enter the list of elements separated by commas ").split(',')

input_list[:] = input_list[::-1]


print("Reversed list:", input_list)

Enter the list of elements separated by commas  1,2,3,4,5,6

Reversed list: ['6', '5', '4', '3', '2', '1']

# Question 15
## 15.	Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [62]:

input_list = input("Enter the list of elements separated by commas  ").split(',')


seen = set()


unique_list = [item for item in input_list if not (item in seen or seen.add(item))]

print("List with duplicates removed:", unique_list)

Enter the list of elements separated by commas   55,6,55,7,4,2,4

List with duplicates removed: ['55', '6', '7', '4', '2']

# Question 16
## 16.	Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [13]:
l1 = input("enter list").split()
asec = sorted(l1)
desc = sorted(l1 , reverse = True)

if l1 == asec:
    print("the given list is in ascending order")
elif l1 == desc:
    print("the given list is in descending order")
else:
    print("The list is not sorted")

enter list 2,3,4

the given list is in ascending order

# Question 17
## 17.	Write a code to merge two sorted lists into a single sorted list

In [17]:
n1 = int(input("enter the element you want in list"))
l1 = []
for i in range(n1):
    a = input('enter the element')
    l1.append(a)
print("the list you enterd" , l1)

    
n2 = int(input('enter the element you want in second list'))
l2 = []
for i in range(n2):
    b = input("enter the elements")
    l2.append(b)
    
print("the list you enterd" , l2)


m3 = l1 + l2
print("The merged list is : " , m3)

m3.sort()
print("the final sorted list will be : " , m3)

# 17 ka

enter the element you want in list 2
enter the element 3
enter the element 56

the list you enterd ['3', '56']

enter the element you want in second list 2
enter the elements 58
enter the elements 1

the list you enterd ['58', '1']
The merged list is :  ['3', '56', '58', '1']
the final sorted list will be :  ['1', '3', '56', '58']

#  Question 18
## 18.	Implement a code to find the intersection of two given lists

In [19]:
l1 = input("enter the elements").split()
l2 = input("enter the elements").split()
intersec = list(set(l1) & set(l2))
print(intersec)

enter the elements 1 2 3 4
enter the elements 1 2 5 6

['1', '2']

# Question 19
## 19.	Create a code to find the union of two lists without duplicates

In [20]:
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]

Union = list(set(l1) | set(l2))
print(Union)

[1, 2, 3, 4, 5, 6, 7, 8]

# Question 20
## 20.	Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [21]:
import random
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(len(lst)):
    j = random.randint(0, len(lst) - 1)
    lst[i], lst[j] = lst[j], lst[i]


print(lst)

[9, 3, 6, 2, 5, 4, 8, 7, 1]

# Question 21
## 	Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [26]:

tuple1 = (1, 3, 4, 5 , 9)
tuple2 = (4, 5, 8 , 9)

# Find common elements using set intersection
common_elements = tuple(set(tuple1) & set(tuple2))


print(common_elements)

(9, 4, 5)

# Question 22
## 22.	Create a code that prompts the user to enter two sets of integers separated by commas.
## Then, print the intersection of these two sets

In [30]:
s1 = set(input("enter the set integers (sep by , ) ").split(','))
s2 = set(input("enter the set intergers (sep bt , )").split(','))

intersection = s1 & s2

print(intersection)

enter the set integers (sep by , )  1,2,3,4,4,5
enter the set intergers (sep bt , ) 2,3,4,5,6,7,8,9

{'2', '3', '4', '5'}

# Question 23
## 23.	Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples

In [38]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)


result = concatenate_tuples(tuple1, tuple2)


print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

# Question 24
## 24.	Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [39]:

set1 = set(input("Enter the elements of the first set separated by commas: ").split(','))
set2 = set(input("Enter the elements of the second set separated by commas: ").split(','))


difference = set1 - set2


print("Elements in the first set but not in the second set:", difference)

Enter the elements of the first set separated by commas:  cooking , eating , studying , walking
Enter the elements of the second set separated by commas:  cooking , eating

Elements in the first set but not in the second set: {' walking', ' studying '}

# Question 25
## 25.	Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [40]:
def slice_tuple(original_tuple, start_index, end_index):
    return original_tuple[start_index:end_index]

original_tuple = (10, 20, 37, 45 , 11, 98 )


start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))


result = slice_tuple(original_tuple, start_index, end_index)

# Print the result
print("Sliced tuple:", result)

Enter the start index:  1
Enter the end index:  4

Sliced tuple: (20, 37, 45)

# Question 27
## 27.	Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [43]:
def maxmin(t1):
    max_val = max(t1)
    min_val = min(t1)
    return max_val, min_val 

t1 = tuple( input("Enter the elements of the tuple separated by commas: ").split(','))


max_val, min_val = maxmin(t1)

# Print the result
print(f"Maximum value: {max_val}")
print(f"Minimum value: {min_val}")
#

Enter the elements of the tuple separated by commas:  22,3443,4,5,4443

Maximum value: 5
Minimum value: 22

# Question 26
## 26.	Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [44]:

set1 = set(input("Enter the characters of the first set separated by commas: ").split(','))
set2 = set(input("Enter the characters of the second set separated by commas: ").split(','))


union_set = set1 | set2

print("Union of the two sets:", union_set)

Enter the characters of the first set separated by commas:  a,b,x,d,e,r,f
Enter the characters of the second set separated by commas:  g,r,d,g

Union of the two sets: {'b', 'a', 'e', 'd', 'f', 'g', 'x', 'r'}

# Question 28
## 28.	Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [45]:
set1 = set(input("Enter the characters of the first set separated by commas: ").split(','))
set2 = set(input("Enter the characters of the second set separated by commas: ").split(','))
intrsec = set1 & set2
union = set1 | set2
diff = set1 - set2
print("the intersection of sets are : " , intrsec)
print("the union of sets are : " , union)
print("the differnece of sets are : " , diff)

Enter the characters of the first set separated by commas:  23,4,54,3,5,543
Enter the characters of the second set separated by commas:  3,4,5,344,553

the intersection of sets are :  {'3', '4', '5'}
the union of sets are :  {'543', '5', '4', '3', '23', '553', '54', '344'}
the differnece of sets are :  {'23', '543', '54'}

# Question 29
## 29.	Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [50]:
def count_oc(t1 , ele):
    return t1.count(ele)

t1 = tuple(input("enter the tuple").split(','))
ele = input("enter the element ")
          
res = count_oc(t1 , ele)
print(f"the occuernce of tuple {ele} : {res} ")

enter the tuple 33,66,77,88,33
enter the element  33

the occuernce of tuple 33 : 2

# Question 30
## 30.	Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [52]:
set1 = set(input("Enter the characters of the first set separated by commas: ").split(','))
set2 = set(input("Enter the characters of the second set separated by commas: ").split(','))


sym_set = set1 ^set2

print("Symmetric of the two sets:", sym_set)

Enter the characters of the first set separated by commas:  cooking , bathing , walking ,coding
Enter the characters of the second set separated by commas:  nini , running , sitting , bathing , walking

Symmetric of the two sets: {' sitting ', 'nini ', ' running ', 'cooking ', 'coding'}

 # Question 31
## 31.	Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [54]:
list_hai = input("enter the list").split()
f = {}
for i in list_hai:
    if i in f:
        f[i] += 1
    else:
        f[i] = 1
print(f"word freq is {f}")

enter the list train bus car bike car bike

word freq is {'train': 1, 'bus': 1, 'car': 2, 'bike': 2}

# Question 32
## 32.	Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [58]:

dict1 = eval(input("Enter the first dictionary : "))
dict2 = eval(input("Enter the second dictionary : "))

merged_dict = {}

for key, value in dict1.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value


for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value

print("Merged dictionary:", merged_dict)

Enter the first dictionary :  {'a': 1, 'b': 2}
Enter the second dictionary :  {'b': 3, 'c': 4}

Merged dictionary: {'a': 1, 'b': 5, 'c': 4}

# Question 33
## 33.	Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [59]:

nested_dict = eval(input("Enter the nested dictionary : "))


keys_list = input("Enter a list of keys separated by commas : ").split(',')

current_value = nested_dict


for key in keys_list:
    if isinstance(current_value, dict) and key in current_value:
        current_value = current_value[key]
    else:
        current_value = None
        break


        
print("Value:", current_value)

Enter the nested dictionary :  {'a': {'b': {'c': 10}}}
Enter a list of keys separated by commas :  a,b,c

Value: 10

# Question 34
## 34.	Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [56]:
def get_value(item):
    return item[1]

dict1 = eval(input("Enter the dictionary "))


sorted_dict = dict(sorted(dict1.items(), key=get_value))


print("Sorted dictionary (ascending order):", sorted_dict)

Enter the dictionary  {'a': 3, 'b': 1, 'c': 2}

Sorted dictionary (ascending order): {'b': 1, 'c': 2, 'a': 3}

# Question 35
## 35.	Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

In [57]:

input_dict = eval(input("Enter the dictionary : "))


inverted_dict = {}

# Invert the dictionary
for key, value in input_dict.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)
    else:
        inverted_dict[value] = [key]

print("Inverted dictionary:", inverted_dict)

Enter the dictionary :  {'a': 1, 'b': 2, 'c': 1}

Inverted dictionary: {1: ['a', 'c'], 2: ['b']}