# Question 1 

## Discuss string slicing and provide examples

In [1]:
# Slicing is the extraction of a part of a string, list, or tuple.
#It enables users to access the specific range of elements by mentioning their indices. 
#syntx - [start : end : step/parameter]
#suppose you start from index 1 and end index is 5 , then it will print till 4th index ( it will not include 5)
# we can do negative indexing to from -1 , -2 , -3 .... -n

In [2]:
Name = "Amitesh"
Name[0]

'A'

In [3]:
Name[0:7]

'Amitesh'

In [4]:
Name[1:7]

'mitesh'

In [5]:
Name[0:7:2]

'Aieh'

In [8]:
Name[::-1] #reverse slicing

'hsetimA'

In [16]:
#print last 3 values
Name[-3::]

'esh'

In [17]:
#print ecexpt last 3
strin2 = "pwskills"
strin2[:-3:]

'pwski'

# Question 2

## Explain the key features of lists in Python

In [18]:
#LISTS
#LIST IS ONE OF THE DATA STRUCTURE IN PYTHON , IT IS VERY USEFUL DATA STRUCTURE
#OR WE CAN SAYlist are orderd collection of items
#  SYNTAX - []
# list is like a shopping bag which can store anything 
 # liST can store any data type 
# LIST ARE hertogenous
# they are mutable , IT MEANS WE CAN CHANGE IT ANYTIME WE WANT

#Dynamic Size: Lists can grow or shrink as you add or remove element
# , You don't need to define the size of a list when you create it.

# List Comprehensions: Python supports list comprehensions, a concise way to create lists

In [20]:
LIST1 = [ "Amitesh" , "rajat " , 2, 5.544 , 3+4j ]
print(LIST1)

['Amitesh', 'rajat ', 2, 5.544, (3+4j)]

# Question 3
 
## Descirbe , how you can access, modify, and delete elements in a Python list with examples

In [21]:
LIST1 = [ "Amitesh" , "rajat " , 2, 5.544 , 3+4j ]
print(LIST1)

['Amitesh', 'rajat ', 2, 5.544, (3+4j)]

In [25]:
#accessing element using indexing
LIST1[0]

'Amitesh'

In [26]:
LIST1[3]

5.544

In [27]:
print(LIST1[4])

(3+4j)

In [28]:
LIST1[-3]

2

In [31]:
for i in LIST1:
    print(i )

Amitesh
rajat
2
5.544
(3+4j)

In [33]:
#modify element in list
LIST1[4] = "amitesh2"

In [34]:
LIST1

['Amitesh', 'rajat ', 2, 5.544, 'amitesh2']

In [35]:
LIST1.append(100)

In [36]:
LIST1

['Amitesh', 'rajat ', 2, 5.544, 'amitesh2', 100]

In [37]:
LIST1.insert(3, "PWskills")

In [38]:
LIST1

['Amitesh', 'rajat ', 2, 'PWskills', 5.544, 'amitesh2', 100]

In [39]:
#deleting element from List
LIST1.remove(100) #remove() method

In [40]:
LIST1

['Amitesh', 'rajat ', 2, 'PWskills', 5.544, 'amitesh2']

In [49]:
LIST1 = [ "Amitesh" , "rajat " , 2, 5.544 , 3+4j ]
LIST1.clear() # remove all items

In [50]:
LIST1

[]

In [51]:
del LIST1 # del whole list

# Question 4 

##   Compare and contrast tuples and lists with examples

In [52]:
#LIST VS TUPLES 
#1 LIST 
#LIST IS ONE OF THE DATA STRUCTURE IN PYTHON , IT IS VERY USEFUL DATA STRUCTURE
#OR WE CAN SAYlist are orderd collection of items
#  SYNTAX - []
# list is like a shopping bag which can store anything 
 # liST can store any data type 
# LIST ARE hertogenous
# they are mutable , IT MEANS WE CAN CHANGE IT ANYTIME WE WANT

#Dynamic Size: Lists can grow or shrink as you add or remove element
# , You don't need to define the size of a list when you create it.
#Lists Have a larger set of built-in methods like append(), remove(), extend(), sort(), etc.
# List Comprehensions: Python supports list comprehensions, a concise way to create lists


# 2 TUPLES

# tuples are orderd collection on elements 
#  TUPLE ARE heterogenous 
#tuples are immutable
# () - SYNTAX 
#TUPLE CAN STORE ANY DATA TYPE

# Tuples Have fewer built-in methods, primarily count() and index()

In [59]:
#LIST

list1 = [ 1 ,3 ,4, 5," amitesh"  , (24,5,3)]

In [60]:
len(list1)

6

In [63]:
list1[5][1]

5

In [67]:
list1[0] = "Rajat" # mutable

In [66]:
list1

['Rajat', 3, 4, 5, ' amitesh', (24, 5, 3)]

In [69]:
list1.append("new chizzi")

In [70]:
list.remove(3)

In [71]:
list1

['Rajat', 3, 4, 5, ' amitesh', (24, 5, 3), 'new chizzi']

In [72]:
#tupels
t = ( "amitesh " , " rajat " , 1 , 3 , 53  , [66,64,654])

In [73]:
t[5]

[66, 64, 654]

In [74]:
t[5][2]

654

In [76]:
t[1]= "moj masti" #immutable

TypeError: 'tuple' object does not support item assignment

In [77]:
t.count(1)

1

In [79]:
t.index("amitesh ")

0

# Question 5
##  Describe the key features of sets and provide examples of their uses.

In [80]:
#sets 


# SETS ARE UNORDERD AND UNIQUE COLLECTION OF ELEMENTS
# DOES'NT ALLOW DUPLICATE ELEMENTS
# UNORDERED >> INDEXING WILL NOT WORK
# {} 
# Mathematical Operations:
#Sets support mathematical operations like union, intersection, difference, and symmetric difference.
# Mutability:
#Sets can be modified after creation. Elements can be added or removed using various methods like add(), remove(), and discard()

In [81]:
s = { 1 ,2 ,3 }

In [82]:
s

{1, 2, 3}

In [83]:
s = { 1, 2 , 3, 4, 5 , {4,5,6}}
#unhashable type >> it is mutable list , set 
#immutable data structure has a stable hash values like tuples

TypeError: unhashable type: 'set'

In [84]:
{1, 2, 3, 4, 5, (4, 5, 6)} #it didnt throw error, because tuple is immutable>>stable hashtype

{(4, 5, 6), 1, 2, 3, 4, 5}

In [85]:
for i in s:
    print(i)

1
2
3

In [86]:
#set is mutable
s.add(100)

In [87]:
s.pop() # not compalsary that it will remove last element

1

In [89]:
s.remove(2) # remove specific

In [91]:
s

{3, 100}

In [92]:
my_fs =  frozenset([1 ,2 ,3 ,4 ,56])
#frozenset cant upate , del value

In [93]:
type(my_fs)

frozenset

 # Question 6
## Discuss the use cases of tuples and sets in Python programming

In [95]:
#use case of tuple
# when we don't need to update or del a value in data set

student_roll = ( 2100 , 2101 , 2102, 2103 , 2104)
student_roll

(2100, 2101, 2102, 2103, 2104)

In [96]:
student_roll[0]

2100

In [97]:
 student_roll[0] = 100  #throws error bcz we can't change value

TypeError: 'tuple' object does not support item assignment

In [98]:
#here we don't need to change roll no of students that why we are using tuple

In [99]:
# SETS

In [102]:
# set is unorderd and value will not repeat eg-
l = [ 1 ,2 ,3 ,4  , 1 , 4 , "apple" ,"apple"]
l

[1, 2, 3, 4, 1, 4, 'apple', 'apple']

In [103]:
#here values are repeating so now we can convert it into set

s = set(l)

In [104]:
s

{1, 2, 3, 4, 'apple'}

In [105]:
# now here no values repated 
# THIS CAN BE USED IN GROCERY LIST IN WHICH ITEMS ARE REPEATING

# OR ANOTHER USE CASE OF SET IS IN MATHS  OPERATION - UNION , INTERSECTION , DIFFRENECE ETC.

# QUESTION 7

##  Describe how to add modify, and delete items in a dictionary with examples.

In [106]:
#dictionary is a data structure that stores data as key value pair
#Keys are unique and immutable

In [107]:
d = { "name" : "amitesg" , "roll" : 223  , "conatact" : 999}
d

{'name': 'amitesg', 'roll': 223, 'conatact': 999}

In [108]:
d.keys()

dict_keys(['name', 'roll', 'conatact'])

In [109]:
d.values()

dict_values(['amitesg', 223, 999])

In [110]:
d["name"]

'amitesg'

In [111]:
#add new key val'
d["marks"] = 100

In [112]:
d

{'name': 'amitesg', 'roll': 223, 'conatact': 999, 'marks': 100}

In [113]:
#modify values 
d["name"] = "RAjat bhai"

In [114]:
d

{'name': 'RAjat bhai', 'roll': 223, 'conatact': 999, 'marks': 100}

In [115]:
d.update({"roll" : 35}) # update method

In [116]:
d

{'name': 'RAjat bhai', 'roll': 35, 'conatact': 999, 'marks': 100}

In [118]:
d.pop("marks") # del sepcific key value

100

In [119]:
d.clear() # clear whole dict

In [120]:
d

{}

In [121]:
del d # delete whole d

# Question 8
 ##  Discuss the importance of dictionary keys being immutable and provide example

In [122]:
#Dictionary keys must be immutable types, such as strings, numbers, or tuples (containing only immutable elements).
#The immutability of dictionary keys is  for the two  reasons:
# 1 ) hashing  ( should not be unhashable type
# 2 ) efficency

In [125]:
 #set in d not possible_
d = {{"d"}:3}

TypeError: unhashable type: 'set'

In [124]:
d = {[1,3] : 23} #unhashable - list is aslo not work here

TypeError: unhashable type: 'list'

In [126]:
d = { (1,43,2) : "am"} #tuple is hashable so we can use it here

In [127]:
d

{(1, 43, 2): 'am'}

In [128]:
#key in dict indicates thier values and thier  index also  , so key must be hashable ( Immutable objects)